# macOS
.DS_Store

# IDE / Editor
.vscode/

# Python: Caches, build artifacts, and virtual environments
__pycache__/
*/__pycache__/
*.egg-info/
dist/
build/
.eggs/

# Python: Virtual environments
venv/
.env

# Python: Testing and caches
.pytest_cache
*/.pytest_cache

# Data / Artifacts
*.csv
*.zip

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*

# Terraform: Variable definitions (Potential secrets)
*.tfvars
**/*.tfvars
terraform.tfvars
terraform.tfvars.json
*.auto.tfvars
*.auto.tfvars.json

# Secrets files
secrets.tfvars
terraform/secrets.tfvars
*.secrets.tfvars
*.secrets.tfvars.json
secrets/real_secret.json

# Python Code Coverage
htmlcov/